name: CI

on:
  push:
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest
    env:
      GOFLAGS: -mod=mod
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache: true

      - name: Go mod tidy
        run: go mod tidy

      - name: Go test
        run: go test ./...

      - name: Go build
        run: go build ./cmd/strongswan-exporter
